
<% if current_page?(root_path) %>
<div class="jumbotron text-center hero">
  <div class="container top-container">
     <h1>English Friends</h1>
     <p>英語の問題を共有しよう！〜仲間と英語力を鍛える〜</p>
     
     <%= link_to "いますぐ登録する", 
      signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>


<section class="toGetFreedom">
<div class="toGetFreedom-Child motivation">
  <h2>To Keep Your Motivation</h2>
  <div class="freedom-Explanation">
    <p>英語の需要が高まり、英語の学習を始める人がますます増えています。</p>
    <p>
      しかし、大多数の学習者がなかなか長続きしないのが現状。
    </p> 
  </div>
  <div class="freedom-Explanation">
    <p>では、英語学習を持続するためには何が必要でしょうか。</p>
    <p>それは、学びの苦労や喜びを分かち合える仲間です。</p>
  </div>
  <div class="freedom-Explanation">
    <p>仲間がいることで、あなたのモチベーションは高まるでしょう。</p>
      <p>ぜひ仲間と英語力を伸ばしましょう！</p>
  </div>
   </div>
  </section>
 
  
<section class="toGetFreedom">
 <div class="toGetFreedom-Child about_us">
    <h2> About Me </h2>
    
     <div class="freedom-Explanation">
    <p>管理者は、英検１級・英語指導歴１２年（主に高校生対象）</p>
    <p>その中で、英語学習に悩む人があまりにも多い現実を日々感じていました。</p>
    </div>
    
    <div class="freedom-Explanation">
    <p>そこで、何かそのような人たちの手助けができないかと考え、このサイトを設立しました。</p>
    <p>ぜひ、英語学習の悩みを共有したり、問題を解いたりして、</p>
    <p>少しでも皆さんの英語学習に役立てば嬉しいです。</p>
 　　 </div>
 　　 
   </div>
  </section>
  
  <section class="toGetFreedom">
 <div class="toGetFreedom-Child how_to_use">
    <h2> How To Use </h2>
    
     <div class="freedom-Explanation">
    <p>このサイトには、２つの機能があります。</p>
    <br>
    <p>１、４択問題を作成し、他のユーザーに出題</p>
    <p>２、英語学習の悩みを共有　　　　　　　　</p>
    </div>
    
     <div class="freedom-Explanation">
    <p>そこで、何かそのような人たちの手助けができないかと考え、このサイトを設立しました。</p>
    <p>ぜひ、英語学習の悩みを共有したり、問題を解いたりして、</p>
    <p>少しでも皆さんの英語学習に役立てば嬉しいです。</p>
 　　 </div>
 　　 
   </div>
  </section>
  
  
    <section class="toGetFreedom">
 <div class="toGetFreedom-Child contact">
    <h2> Contact </h2>
    
     <div class="freedom-Explanation">
    <p>このサイトには、２つの機能があります。</p>
    <br>
    <p>１、４択問題を作成し、他のユーザーに出題</p>
    <p>２、英語学習の悩みを共有　　　　　　　　</p>
    </div>
    
     <div class="freedom-Explanation">
    <p>そこで、何かそのような人たちの手助けができないかと考え、このサイトを設立しました。</p>
    <p>ぜひ、英語学習の悩みを共有したり、問題を解いたりして、</p>
    <p>少しでも皆さんの英語学習に役立てば嬉しいです。</p>
 　　 </div>
 　　 
   </div>
  </section>
  
<% end %>
  </div>