
<% if current_page?(root_path) %>
<div class="jumbotron text-center hero">
  <div class="container top-container">
     <h1>English Friends</h1>
     <p>英語の問題を共有しよう！〜仲間と英語力を鍛える〜</p>
     <%= link_to "いますぐ登録する", 
      signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<div class="container">
<section class="toGetFreedom">
<div class="toGetFreedom-Child">
  <h2>英語の勉強を持続するためには？</h2>
  <div class="freedom-Explanation">
    <p>英語の需要が高まり、英語の学習を始める人がますます増えています。</p>
    <p>
      しかし、大多数の学習者がなかなか長続きしないのが現状。
    </p> 
  </div>
  <div class="freedom-Explanation">
    <p>じゃあ、英語学習を持続するためには何が必要か。</p>
    
    <p>それは、学びの苦労や喜びを分かち合える仲間です。</p>
    
    <p> </p>
  </div>
  <div class="freedom-Explanation">
    <p>仲間がいることで、あなたのモチベーションは高まるでしょう。</p>
      <p>ぜひ仲間と英語力を伸ばしましょう！</p>
  </div>
  </div>
  
  <section>
  <div class= about_us>
    About Us
    
    管理者
    英検１級・英語指導歴１２年（主に高校生対象）
    英語学習に悩む人があまりにも多い現実を日々感じていました。
    そこで、何かそのような人たちの手助けができないかと考え、このサイトを作成しました。
    ぜひ、英語を頑張って、皆さんの将来が開けることを願っています。
    
    「英文法おたく」で英語の解説をしていますので、ぜひよければご覧ください。
    </div>
  </section>
  
<% end %>
  </div>